main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqs {
  padding: 32px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
.panel-control {
  text-align: left;
  background: none;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  padding: 8px 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.panel-control:hover {
  cursor: pointer;
}

.panel-content {
  border: 1px solid var(--primary-color);
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 0 0 5px 6px;
}
