.introduction {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}

.introduction aside {
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 1.2rem;
}
.introduction img {
  aspect-ratio: 3/2;
}

.introduction aside h2 {
  color: var(--accent-color);
}

.services {
  background-color: var(--primary-color);
  color: #fff;
  padding-top: 32px;
  padding-bottom: 32px;
}

.services > div {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.services a {
  color: var(--accent-color);
  font-weight: 700;
}

.services a:hover {
  opacity: 0.9;
}

.servicetext {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.servicetext h2 {
  color: var(--tertiary-color);
}

.servicetext ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.servicetext li {
  margin-left: 32px;
}

@media screen and (max-width: 1440px) {
  .introduction {
    flex-direction: column;
    gap: 16px;
  }

  .introduction aside {
    padding-right: 32px;
  }

  .services > div {
    flex-direction: column-reverse;
    align-items: center;
  }

  .servicetext {
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 580px) {
  .introduction aside {
    font-size: 1rem;
  }

  .introduction img {
    width: 100%;
  }
}
